/data/MarmitonScrapper/links*
/data/MarmitonScrapper/marmiton_recipe*
/data/kaggle-cook-data.json.zip
/data/marmiton_ingredients.csv
/adversarial-master/*
adversarial-master.zip
ml-project-proposition-ftheo.pdf
/data/preprocessed_recipes.json
